# Copy this file to .env and edit values (optional)
PORT=3000
SESSION_SECRET=change-this-to-a-long-random-string

# Bootstrap admin (created only if there is no admin user yet)
BOOTSTRAP_ADMIN_FULLNAME=Site Admin
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=951212
