# Mongo
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=zeropoint

# Sessions
SESSION_SECRET=Ghy7862kjhYus748A

# Bootstrap admin (created only if there is no admin yet)
BOOTSTRAP_ADMIN_FULLNAME=Admin
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=951212

# NODE_ENV=production
